option_settings:
  # Fetch from Parameter Store
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    PORT: 5000

    # Database credentials from Parameter Store
    SPRING_DATASOURCE_URL: '`{"Ref": "AWSEBParameterStoreParameter", "Namespace": "aws:ssm:parameter", "OptionName": "/kalvitrack/SPRING_DATASOURCE_URL"}`'
    SPRING_DATASOURCE_USERNAME: '`{"Ref": "AWSEBParameterStoreParameter", "Namespace": "aws:ssm:parameter", "OptionName": "/kalvitrack/SPRING_DATASOURCE_USERNAME"}`'
    SPRING_DATASOURCE_PASSWORD: '`{"Ref": "AWSEBParameterStoreParameter", "Namespace": "aws:ssm:parameter", "OptionName": "/kalvitrack/SPRING_DATASOURCE_PASSWORD"}`'

    # JWT Secret from Parameter Store
    JWT_SECRET: '`{"Ref": "AWSEBParameterStoreParameter", "Namespace": "aws:ssm:parameter", "OptionName": "/kalvitrack/jwt.secret"}`'

    # Email credentials from Parameter Store
    SPRING_MAIL_USERNAME: '`{"Ref": "AWSEBParameterStoreParameter", "Namespace": "aws:ssm:parameter", "OptionName": "/kalvitrack/SPRING_MAIL_USERNAME"}`'
    SPRING_MAIL_PASSWORD: '`{"Ref": "AWSEBParameterStoreParameter", "Namespace": "aws:ssm:parameter", "OptionName": "/kalvitrack/SPRING_MAIL_PASSWORD"}`'

    # Plain text configs (not sensitive)
    SPRING_MAIL_HOST: smtp.gmail.com
    SPRING_MAIL_PORT: 587

  # JVM options
  aws:elasticbeanstalk:container:java:
    JVMOptions: '-Xms512m -Xmx1024m -Dspring.profiles.active=prod'